body {
    background-color: #161515 !important;
    color: white;
    font-family: 'Radley', serif;
    padding-bottom: 250px;
}
.texto-carrito {
    margin: 70px;
    font-size: 70px;
    font-weight: bold;
    text-align: CENTER;
    color: white !important;
    font-family: 'Rosarivo',serif;
}
.item {
    background: rgb(99, 99, 101);
    background: -moz-linear-gradient(0deg, rgba(99, 99, 101, 0.938813025210084) 38%, rgba(0, 0, 0, 1) 100%, rgba(0, 212, 255, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(99, 99, 101, 0.938813025210084) 38%, rgba(0, 0, 0, 1) 50%, rgba(0, 212, 255, 1) 100%);
    background: linear-gradient(0deg, rgba(99, 99, 101, 0.938813025210084) 2%, rgba(0, 0, 0, 1) 100%, rgba(0, 212, 255, 1) 100%);
    border-radius: 5px;
    margin-bottom: 30px;
}
.item p {
    font-family: 'Radley',serif;
    font-size: 28px;
    color: white;
    padding: 20px;
}
.item h3{
    padding: 20px;
    margin-top: 20px;
    font-family: 'Radley',serif;
    font-size: 22px;
    color: white;
}
.item img {
    border-radius: 2px;
    transition: transform 0.5s ease-in-out;
    width: 510px !important;
    height: 300px;
    object-fit: contain;
    margin-left: 30px;
}
.eliminar{
    margin: 10px;
}
.buttongrupo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-sec{
    color: white;
    background-color: transparent !important;
    border: 2px solid white !important;
    border-radius: 10px;
    margin-top: 10px !important;
    padding: 5px 10px;
    padding-left: 100px !important;
    padding-right: 100px !important;
    transition: background-color 0.3s, color 0.3s;
}
.btn-sec:hover{
    background-color: white !important;
    color: black;
}
.btn{
    color: white;
    background-color: transparent !important;
    border: 2px solid white !important;
    border-radius: 10px;
    width: 40px;
    height: 40px;

    transition: background-color 0.3s, color 0.3s;
}
.btn:hover{
    background-color: white !important;
    color: black;
}
.form-control{
    -moz-appearance: textfield !important;
    color: white !important;
    background-color: transparent !important;
    border: 2px solid white !important;
    border-radius: 10px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    transition: background-color 0.3s, color 0.3s;
    pointer-events: none;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Oscurece el fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 1000;
}

/* Estilos del popup */
.popup {
    background-color: rgb(78, 76, 76);
    padding: 20px 80px;
    border-radius: 10px;
    text-align: center;
    font-size: 38px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-in-out;
}

/* Botón dentro del popup */
.popup button {
    margin-top: 10px;
    padding: 8px 100px;
    border: none;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    pointer-events: auto;
}

.popup button:hover {
    background-color: #ffffff;
    color: #000;
}
.popup-overlay.show {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 730px) {
    h1{
        font-size:45px !important;
        text-align: center;
        margin-top: 50px;
        margin-left: 0;
        margin-right: 0;
    }
    .img{
        padding: 0;
    }
    #contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #cantidad{
       height: 40px;
    }
    .item {
        width: 260px !important;
        height: 550px;
    }
    .item p {
        text-align: center !important;
        font-size: 20px;
    }
    .item h3{
        text-align: center !important;
        padding: 0;
        margin: 0;
    }
    .btn{
        padding: 5px;
    }
    .btn-sec{
        width: 300px;
    }
    .form-control{
        height: 30px;
    }
    .buttongrupo{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .eliminar{
        font-size: 10px;
        padding-left: 90px;
        padding-right: 100px;
        margin-left: 25px;
    }
    .total-info{
        padding-right:180px ;
    }
    .botones{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
}
