html {
    background-color: #161515;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Rosarivo', serif;
    margin: 0;
    padding: 0;
    color: white;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60vh;
    overflow: hidden;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    position: relative; 
}

.banner img {
    width: 100%;
    height: 120%;
    object-fit: cover;
    filter: brightness(0.5);
}

.banner-text {
    position: absolute; 
    text-align: center; 
    color: white;
    z-index: 1;
}

.banner-text h1 {
    font-size: 110px; 
    font-family: "Bangers", serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    margin: 0;
}
.slideshow-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

button.prev, button.next {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border: 3px solid white;
    color: white;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

button.prev:hover, button.next:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}
